<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
	{% block style%}
	{% load static %}
		<link rel="stylesheet" href="{% static 'game/style.css' %}" />
	{% endblock %}

	{% block title%}
  		<title>Gameboy</title>
	{% endblock %}
  </head>

  <body>

  {% block content %}
	{% load static %}
	<img style="width:1000px; height:auto;" alt="image" src="{% static 'img/gameboy.jpg' %}" usemap="#coucou" />
	<map name="coucou">
		<area shape="rect" coords="0,0,10,10" href="{% url "coucou" %}" alt="Sun">


  {% endblock %}

  </body>
</html>
