<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
	{% block style%}
	{% load static %}
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	{% endblock %}

	{% block title%}
  		<title>Gameboy</title>
	{% endblock %}
  </head>

  <body>
	<img id="gameboy" alt="gameboy" src="{% static 'img/gameboy.jpg' %}" usemap="#gameboy" />
	<img id="gray_screen" alt="gray_screen" src="{% static 'img/gray_screen.jpg' %}"/>
	<map name="gameboy">

  {% block map %}
		<area shape="circle" coords="639,619,25" href="{% url "worldmap" %}" alt="A">
		<area shape="circle" coords="576,652,25" href="{% url "load" %}" alt="B">
  {% endblock %}
	</map>

  </body>
</html>
