{% extends "game/base.html"  %}
{% load static %}

{% block lol %}
<style>
	 .case{
		position: absolute;
		left: 287px;
		top: 52px;
		width: 448px;
		height: 448px;
		background: url("{% static 'img/mario.png' %}") {{ mario_px_x }}px {{ mario_px_y }}px,
					url("{% static 'img/case.png' %}") ;
		background-repeat: no-repeat, repeat;
		background-size: {{ nb_pixel }}px auto;
	}
</style>
{% endblock %}


{% block title%}
  	<title>Worldmap</title>
{% endblock %}

{% block map %}
	<area shape="circle" coords="639,619,25" href="{% url "worldmap" %}" alt="A">
	<area shape="circle" coords="576,652,25" href="{% url "load" %}" alt="B">

	<area shape="rect" coords="364,595,394,628" href="{% url "up" %}" alt="up">
	<area shape="rect" coords="364,652,394,688" href="{% url "down" %}" alt="down">
	<area shape="rect" coords="334,625,364,658" href="{% url "left" %}" alt="left">
	<area shape="rect" coords="394,625,424,658" href="{% url "right" %}" alt="right">

	<area shape="rect" coords="419,738,469,780" href="{% url "select" %}" alt="select">
	<area shape="rect" coords="484,738,529,780" href="{% url "start" %}" alt="start">
{% endblock %}

  </body>
</html>
